.player img {
    width: 150px;
    height: auto;
}

.player img.action {
    border: 5px solid red;
}

.player .stack-size {
    font-weight: bold;
}

.player span {
    padding: 2px;
}

.players .player {
    float: left;
    margin: 10px 0 10px 0;
    width: 25%;
}

.players .player.player {
}

.players .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.bet input.bet-input {
    width: 30px;
}